$header-bg-image: "../../assets/img/bluebells\,_oxfordshire.webp";
$base-font: "Trebuchet MS", sans-serif;
$base-color: rgb(60, 169, 169);
$gradient-color: linear-gradient(130deg, #6c52d9 0%, #1eaafc 85%, #3edfd7 100%);