@mixin set-grid-area($class-name) {
  grid-area: $class-name;
}
@mixin content-center-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
$base-font: "Trebuchet MS", sans-serif;
$base-color: rgb(60, 169, 169);
$gradient-color: linear-gradient(130deg, #6c52d9 0%, #1eaafc 85%, #3edfd7 100%);
body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  color: $base-color;
}
header {
  nav {
    h1{
      cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    align-items: center;
    ul {
      display: flex;
      gap: 12px;
      li {
        list-style: none;
        cursor: pointer;
      }
    }
  }
  .image-container {
    width: 100%;
    height: 250px;
    background-color: black;
    position: relative;
    .search-container {
      position: absolute;
      left: 40%;
      top: 40%;
      display: flex;
      input {
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        padding: 8px 10px 8px 10px;
        width: 280px;
      }
      .search-btn {
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 8px 10px 8px 10px;
        background-color: green;
        color: white;
        cursor: pointer;
      }
    }
  }
}
.nav {
  grid-area: nav;
}

main {
  padding: 30px 60px 0px 60px;
  .videos-top {
    display: flex;
    justify-content: space-between;
  }
  .videos-bottom {
    height: 45px;
    justify-content: space-between;
    margin-top: 25px;
    display: flex;
    button {
      all: unset;
      padding: 0px 15px 0px 15px;
      border-radius: 4px;
      border: none;
      background-color: $base-color;
      font-weight: 800;
      font-size: large;
      color: white;
      cursor: pointer;
    }
    .boxes {
      display: flex;
      gap: 6px;
      .box {
        padding: 20px;
        @include content-center-flex;
        border: 1px solid black;
      }
    }
  }
  .main-container {
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "nav header header header"
      "nav main main main"
      "nav footer footer footer";
    gap: 10px;
    .upper-left .upper-middle .upper-right {
      @include set-grid-area(header);
    }
    .middle {
      @include set-grid-area(main);
    }
    .bottom {
      @include set-grid-area(footer);
    }
    .item {
      height: 180px;
      background-color: #1eaafc;
      background-image: $gradient-color;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      color: #fff;
      border-radius: 4px;
      border: 6px solid #171717;
    }
    .nav {
      height: 585px;
    }
  }
}
footer {
  margin-top: 50px;
  background-color: rgb(226, 217, 217);
  padding-top: 5px;
  padding-bottom: 15px;
  p {
    text-align: center;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    .footer-container-left {
      width: 300px;
      margin-top: 20px;
      p {
        text-align: start;
      }
    }
    .footer-container-middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer-container-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 35px;
      .footer-icon-box {
        display: flex;
        gap: 8px;
        .footer-icon {
          background-color: white;
          border-radius: 2px;
          padding: 8px;
          display: flex;
          justify-content: center;
          padding-left: 10px;
          cursor: pointer;
        }
      }
      .footer-container-right-bottombox {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 8px;
        ul {
          li {
            list-style: none;
          }
        }
      }
    }
  }
}
